@import '../../../assets/css/metrics';
@import '../../../assets/css/palette';

.header {
  background: url('/assets/images/photo.jpg') left / contain no-repeat;
  margin: 5rem 0;
  padding: 3rem 3rem 3rem 18rem;

  h1 {
    line-height: 1;
    margin: 0;
  }

  p {
    margin: 0;
  }

  .subtitle {
    font-size: $font-size-h4;
  }
}

h3 {
  i {
    &.fa {
      margin-left: 1rem;
    }
  }
}

.contents {
  display: flex;
  flex-direction: row-reverse;

  .right-column {
    flex-shrink: 0;
    margin-left: 10rem;

    ul {
      font-weight: 400;
      list-style: upper-roman;
      white-space: nowrap;
    }
  }
}

.block {
  margin-bottom: 5rem;
}

.description {
  display: flex;
  justify-content: space-between;

  .thumbnail {
    flex-shrink: 0;
    margin: 0 1.5rem;

    img {
      border: 1px solid $divider-color;
      padding: .6rem;
      width: 20rem;
    }
  }
}

.detail {
  td {
    &:first-child {
      padding-left: 1.5rem;
    }
  }

  td,
  th {
    &:last-child {
      text-align: center;
    }
  }
}

.contact {
  textarea {
    height: 15rem;
  }
}
