@import '../../../assets/css/metrics';
@import '../../../assets/css/palette';

.header {
  margin: 3rem 0 5rem;

  h1 {
    line-height: 1;
    margin: 0;
  }

  p {
    margin: 0;
  }

  .subtitle {
    font-size: $font-size-h4;
  }
}

h3 {
  i {
    &.fa {
      margin-left: 1rem;
    }
  }
}

.right-column {
  display: none;
}

.block {
  margin-bottom: 5rem;
}

.description {
  margin-bottom: 2rem;

  .thumbnail {
    display: block;

    img {
      border: 1px solid $divider-color;
      display: block;
      padding: .6rem;
      width: 100%;
    }
  }
}

.detail {
  td,
  th {
    &:last-child {
      text-align: center;
    }
  }
}
