<div class="container">
  <h1>
    Gonzalo Chumillas<br>
    <em>Software Developer</em>
  </h1>

  <div class="row">
    <div class="column column-67">
      <div class="intro">
        <h2>Introducción</h2>
        <p class="text">
          Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus.
          Quisque velit nisi, pretium ut lacinia in, elementum id enim. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
        </p>
      </div>

      <div>
        <h2>Cómo funciona</h2>
        <p>
          El desarrollo de una aplicación consta de varias etapas, durante las cuales se mantendrá
          el contacto con el cliente para asegurarnos que sigue la dirección adecuada.
        </p>
        <h3>I. Recopilación de requisitos</h3>
        <p>
          Durante esta primera toma de contacto se inicia la conversación con el cliente
          mediante video conferencia o correo electrónico y se determinan los requisitos
          que debe cumplir la aplicación.
        </p>
        <h3>II. Diseño de las plantillas</h3>
        <p>
          Antes de iniciarnos en la etapa de desarrollo es importante determinar qué pantallas
          conformarán la aplicación y su interacción entre ellas. Para ello se diseñarán una
          serie de plantillas sujetas a la aprovación del cliente.
        </p>
        <h3>III. Desarrollo</h3>
        <p>
          Una vez el cliente ha dado su conformidad al diseño iniciaremos la fase de desarrollo. Básicamente
          consiste en "traer a la realidad" las distintas plantillas que hemos diseñado en la fase anterior.
          Cada cierto tiempo se publicarán los avances, de manera que el cliente pueda ver el progreso
          de su aplicación.
        </p>
        <h3>IV. Instalación</h3>
        <p>
          Una vez el desarrollo ha finalizado y la aplicación funciona correctamente, se procederá
          a su instalación para su uso en producción.
        </p>
      </div>

      <div>
        <h2>Cuánto me costará</h2>
        <p>
          <strong>Mi tarifa actual son 45&euro; la hora y cada etapa de desarrollo se factura
          y se paga de forma independiente.</strong> Como ejemplo ilustrativo, supongamos que tenemos
          un blog y queremos gestionar las entradas. La aplicación deberá ser capaz de
          <code>listar</code>, <code>borrar</code>, <code>editar</code> o <code>insertar</code>
          nuevas entradas. En total serían cuatro pantallas, incluyendo la pantalla de identificación.
        </p>
        <p>
          Me gustaría resaltar que la siguiente factura es sólo ilustrativa. Cada aplicación tiene
          su propia dificultad y peculiaridades. Pero me pareció buena idea ilustrar con un
          ejemplo cuánto podría costar una sencilla aplicación.
        </p>
        <table>
          <tr>
            <th>Recopilación de requisitos</th>
            <th>3 horas</th>
            <th>135 &euro;</th>
          </tr>

          <tr>
            <th>Diseño de plantillas</th>
            <th>4 plantillas</th>
            <th>360 &euro;</th>
          </tr>
          <tr>
            <td>Plantilla principal</td>
            <td>1 hora</td>
            <td>45 &euro;</td>
          </tr>
          <tr>
            <td>Plantilla de edición</td>
            <td>1 hora</td>
            <td>45 &euro;</td>
          </tr>
          <tr>
            <td>Plantilla de inserción</td>
            <td>1 hora</td>
            <td>45 &euro;</td>
          </tr>
          <tr>
            <td>Plantilla de identificación</td>
            <td>1 hora</td>
            <td>45 &euro;</td>
          </tr>

          <tr>
            <th>Desarrollo</th>
            <th>4 pantallas</th>
            <th>360 &euro;</th>
          </tr>
          <tr>
            <td>Plantilla principal</td>
            <td>1 hora</td>
            <td>45 &euro;</td>
          </tr>
          <tr>
            <td>Plantilla de edición</td>
            <td>1 hora</td>
            <td>45 &euro;</td>
          </tr>
          <tr>
            <td>Plantilla de inserción</td>
            <td>1 hora</td>
            <td>45 &euro;</td>
          </tr>
          <tr>
            <td>Plantilla de identificación</td>
            <td>1 hora</td>
            <td>45 &euro;</td>
          </tr>

          <tr>
            <th>Instalación</th>
            <th>3 horas</th>
            <th>135 &euro;</th>
          </tr>

          <tr>
            <th>&nbsp;</th>
            <th>TOTAL</th>
            <th>2000 &euro;</th>
          </tr>
        </table>
      </div>
    </div>

    <div cass="column">
      <div class="menu">
        <h2>Índice</h2>
        <ul>
          <li><a>Cómo funciona</a></li>
          <li><a>Cuánto me costará</a></li>
          <li><a>Contactar</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
