@import '../../../assets/css/metrics';
@import '../../../assets/css/palette';

@media (min-width: $tablet-screen) {
  .header {
    background: url('/assets/images/photo.jpg') left / contain no-repeat;
    margin: 4rem 0 5rem;
    padding: 2rem 3rem 2rem 16rem;
  }

  .contents {
    display: flex;
    flex-direction: row-reverse;

    .right-column {
      display: block;
      flex-shrink: 0;
      margin-left: 10rem;

      ul {
        font-weight: 400;
        list-style: upper-roman;
        white-space: nowrap;
      }
    }
  }
}
