<div class="container">
  <div class="header">
    <h1>Gonzalo Chumillas</h1>
    <p class="subtitle">Software Developer</p>
    <p class="info"><i class="fa fa-map-marker"></i> Cádiz, Spain</p>
  </div>

  <div class="contents">

    <div class="right-column">
      <h2>Índice</h2>
      <ul>
        <li><a [ngx-scroll-to]="'#projects'">{{ 'home.projects.title' | translate }}</a></li>
        <li><a [ngx-scroll-to]="'#how-works'">{{ 'home.howWorks.title' | translate }}</a></li>
        <li><a [ngx-scroll-to]="'#how-much'">{{ 'home.howMuch.title' | translate }}</a></li>
        <li><a [href]="sanitize('mailto:' + mailto)">{{ 'home.contact.title' | translate }}</a></li>
      </ul>
    </div>

    <div class="left-column">
      <div class="block">
        <h2>{{ 'home.profile.title' | translate }}</h2>
        <div [innerHTML]="'home.profile.text' | translate:{email: mailto}"></div>
      </div>

      <div class="block" id="projects">
        <h2>{{ 'home.projects.title' | translate }}</h2>

        <h3>{{ 'home.projects.photoManager.title' | translate}}</h3>
        <div class="description">
          <div class="text" [innerHTML]="'home.projects.photoManager.text' | translate"></div>
          <a href="/assets/images/photobox.png" target="_blank" class="thumbnail">
            <img src="/assets/images/photobox.png">
          </a>
        </div>

        <h3>{{ 'home.projects.cms.title' | translate}}</h3>
        <div class="description">
          <div class="text" [innerHTML]="'home.projects.cms.text' | translate"></div>
          <a href="/assets/images/cms.png" target="_blank" class="thumbnail">
            <img src="/assets/images/cms.png">
          </a>
        </div>
      </div>

      <div class="block" id="how-works">
        <h2>{{ 'home.howWorks.title' | translate }}</h2>
        <p>{{ 'home.howWorks.text' | translate }}</p>

        <h3>I. {{ 'home.howWorks.requirements.title' | translate }} <i class="fa fa-comments-o"></i></h3>
        <p>{{ 'home.howWorks.requirements.text' | translate }}</p>

        <h3>II. {{ 'home.howWorks.design.title' | translate }} <i class="fa fa-files-o"></i></h3>
        <p>{{ 'home.howWorks.design.text' | translate }}</p>

        <h3>III. {{ 'home.howWorks.development.title' | translate }} <i class="fa fa-desktop"></i></h3>
        <p>{{ 'home.howWorks.development.text' | translate }}</p>

        <h3>IV. {{ 'home.howWorks.installation.title' | translate }} <i class="fa fa-floppy-o"></i></h3>
        <p>{{ 'home.howWorks.installation.text' | translate }}</p>
      </div>

      <div class="block" id="how-much">
        <h2>{{ 'home.howMuch.title' | translate }}</h2>
        <div [innerHTML]="'home.howMuch.text' | translate"></div>

        <table class="detail">
          <tr>
            <th>{{ 'home.howWorks.requirements.title' | translate }}</th>
            <th>2 {{ 'hours' | translate }}</th>
            <th>90 &euro;</th>
          </tr>

          <tr>
            <th>{{ 'home.howWorks.design.title' | translate }}</th>
            <th>2.5 {{ 'hours' | translate }}</th>
            <th>112.5 &euro;</th>
          </tr>
          <tr>
            <td>{{ 'home.details.mainTemplate' | translate }}</td>
            <td>1 {{ 'hour' | translate }}</td>
            <td>45 &euro;</td>
          </tr>
          <tr>
            <td>{{ 'home.details.editTemplate' | translate }}</td>
            <td>30 min</td>
            <td>22.5 &euro;</td>
          </tr>
          <tr>
            <td>{{ 'home.details.insertTemplate' | translate }}</td>
            <td>30 min</td>
            <td>22.5 &euro;</td>
          </tr>
          <tr>
            <td>{{ 'home.details.loginTemplate' | translate }}</td>
            <td>30 min</td>
            <td>22.5 &euro;</td>
          </tr>

          <tr>
            <th>{{ 'home.howWorks.development.title' | translate }}</th>
            <th>6 {{ 'hours' | translate }}</th>
            <th>270 &euro;</th>
          </tr>
          <tr>
            <td>{{ 'home.details.mainScreen' | translate }}</td>
            <td>3 {{ 'hours' | translate }}</td>
            <td>135 &euro;</td>
          </tr>
          <tr>
            <td>{{ 'home.details.editScreen' | translate }}</td>
            <td>1 {{ 'hour' | translate }}</td>
            <td>45 &euro;</td>
          </tr>
          <tr>
            <td>{{ 'home.details.insertScreen' | translate }}</td>
            <td>1 {{ 'hour' | translate }}</td>
            <td>45 &euro;</td>
          </tr>
          <tr>
            <td>{{ 'home.details.loginScreen' | translate }}</td>
            <td>1 {{ 'hour' | translate }}</td>
            <td>45 &euro;</td>
          </tr>

          <tr>
            <th>{{ 'home.howWorks.installation.title' | translate }}</th>
            <th>2 {{ 'hours' | translate }}</th>
            <th>90 &euro;</th>
          </tr>

          <tr>
            <th>TOTAL</th>
            <th>12.5 {{ 'hours' | translate }}</th>
            <th>562.5 &euro;</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
