<div class="container">
  <div class="header">
    <h1>Gonzalo Chumillas</h1>
    <p class="subtitle">Software Developer</p>
    <p class="info"><i class="fa fa-map-marker"></i> Cádiz, Spain</p>
  </div>

  <div class="contents">

    <div class="right-column">
      <h2>Índice</h2>
      <ul>
        <li><a [ngx-scroll-to]="'#projects'">Proyectos</a></li>
        <li><a [ngx-scroll-to]="'#how-works'">Cómo funciona</a></li>
        <li><a [ngx-scroll-to]="'#how-much'">Cuánto cuesta</a></li>
        <li><a [href]="sanitize('mailto:' + mailto)">Contactar</a></li>
      </ul>
    </div>

    <div class="left-column">
      <div class="block">
        <h2>Perfil</h2>
        <p>
          Durante más de quince años me he dedicado al desarrollo de software y aplicaciones de gestión.
          Aunque empecé programando en <strong>Delphi</strong> y <strong>J2EE</strong>, actualmente centro mi atención en tecnologías
          orientadas a la web, como <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>jQuery</strong>, <strong>PHP</strong>, <strong>Linux</strong> y <strong>MySQL</strong>. En la actualidad desarrollo
          aplicaciones en <strong>Angular</strong> y <strong>TypeScript</strong>, una combinación ideal para la creación de interfaces de usuario.
          Pueden conocer más detalles sobre mi trabajo en mi cuenta personal de GitHub:
          <a href="https://github.com/gchumillas" target="_blank">github.com/gchumillas</a>
        </p>
        <p>
          Si desea solicitar más información puede enviarme un correo electrónico a
          <a [href]="sanitize('mailto:' + mailto)">{{mailto}}</a>. Me pondré en contacto con usted
          lo antes posible.
        </p>
      </div>

      <div class="block" id="projects">
        <h2>Proyectos</h2>
        <h3>Gestor de fotografías online</h3>
        <div class="description">
          <div class="text">
            <p>
              Me entusiasma la fotografía y al no encontrar un software adecuado decidí iniciar el
              desarrollo de un gestor de fotografías online. Se trata de una aplicación adaptada
              para móviles y desarrollada en <strong>Angular</strong>, <strong>TypeScript</strong>,
              <strong>PHP</strong> y <strong>MySQL</strong>. La aplicación
              utiliza los servicios de <strong>Dropbox</strong> como almacén de imágenes.
              Puede encontrar más información en GitHub:
              <a href="https://github.com/gchumillas/petitphotobox">
                github.com/gchumillas/petitphotobox
              </a>
            </p>
          </div>
          <a href="/assets/images/photobox.png" target="_blank" class="thumbnail">
            <img src="/assets/images/photobox.png">
          </a>
        </div>

        <h3>Gestor de contenidos</h3>
        <div class="description">
          <div class="text">
            <p>
              Esta aplicación nació de la necesidad de crear un "Gestor de Contenidos Universal".
              Se trata de una aplicación altamente configurable capaz de gestionar el contenido
              de cualquier web, sin importar cómo haya sido desarrollada. La aplicación fue desarrollada
              principalmente en <strong>jQuery</strong>, <strong>PHP</strong> y <strong>MySQL</strong>.
              Puede encontrar una demo en: <a href="http://gchumillas.com/cms/">gchumillas.com/cms</a>
            </p>
          </div>
          <a href="/assets/images/cms.png" target="_blank" class="thumbnail">
            <img src="/assets/images/cms.png">
          </a>
        </div>
      </div>

      <div class="block" id="how-works">
        <h2>Cómo funciona</h2>
        <p>
          El desarrollo de una aplicación consta de varias etapas, durante las cuales se mantendrá
          el contacto con el cliente para asegurarnos que sigue la dirección adecuada.
        </p>
        <h3>I. Recopilación de requisitos <i class="fa fa-comments-o"></i></h3>
        <p>
          Durante esta primera toma de contacto se inicia la conversación con el cliente
          mediante video conferencia o correo electrónico y se determinan los requisitos
          que debe cumplir la aplicación.
        </p>
        <h3>II. Diseño de las plantillas <i class="fa fa-files-o"></i></h3>
        <p>
          Antes de iniciarnos en la etapa de desarrollo es importante determinar qué pantallas
          conformarán la aplicación y su interacción entre ellas. Para ello se diseñarán una
          serie de plantillas sujetas a la aprovación del cliente.
        </p>
        <h3>III. Desarrollo <i class="fa fa-desktop"></i></h3>
        <p>
          Una vez el cliente ha dado su conformidad al diseño iniciaremos la fase de desarrollo. Básicamente
          consiste en "traer a la realidad" las distintas plantillas que hemos diseñado en la fase anterior.
          Cada cierto tiempo se publicarán los avances, de manera que el cliente pueda ver el progreso
          de su aplicación.
        </p>
        <h3>IV. Instalación <i class="fa fa-floppy-o"></i></h3>
        <p>
          Una vez el desarrollo ha finalizado y la aplicación funciona correctamente, se procederá
          a su instalación para su uso en producción.
        </p>
      </div>

      <div class="block" id="how-much">
        <h2>Cuánto cuesta</h2>
        <p>
          <strong>Mi tarifa actual son 45&euro; la hora y cada etapa de desarrollo se factura
          y se paga de forma independiente.</strong> Como ejemplo ilustrativo, supongamos que tenemos
          un blog y queremos gestionar las entradas. La aplicación deberá ser capaz de
          <code>listar</code>, <code>borrar</code>, <code>editar</code> o <code>insertar</code>
          nuevas entradas. En total serían cuatro pantallas, incluyendo la pantalla de identificación.
        </p>
        <p>
          Me gustaría resaltar que la siguiente factura es sólo ilustrativa. Cada aplicación tiene
          su propia dificultad y peculiaridades. Pero me pareció oportuno ilustrar con un
          ejemplo cuánto podría costar una sencilla aplicación.
        </p>
        <table class="detail">
          <tr>
            <th>Recopilación de requisitos</th>
            <th>2 horas</th>
            <th>90 &euro;</th>
          </tr>

          <tr>
            <th>Diseño de plantillas</th>
            <th>2.5 horas</th>
            <th>112.5 &euro;</th>
          </tr>
          <tr>
            <td>Plantilla principal</td>
            <td>1 hora</td>
            <td>45 &euro;</td>
          </tr>
          <tr>
            <td>Plantilla de edición</td>
            <td>30 min</td>
            <td>22.5 &euro;</td>
          </tr>
          <tr>
            <td>Plantilla de inserción</td>
            <td>30 min</td>
            <td>22.5 &euro;</td>
          </tr>
          <tr>
            <td>Plantilla de identificación</td>
            <td>30 min</td>
            <td>22.5 &euro;</td>
          </tr>

          <tr>
            <th>Desarrollo</th>
            <th>6 horas</th>
            <th>270 &euro;</th>
          </tr>
          <tr>
            <td>Plantilla principal</td>
            <td>3 horas</td>
            <td>135 &euro;</td>
          </tr>
          <tr>
            <td>Plantilla de edición</td>
            <td>1 hora</td>
            <td>45 &euro;</td>
          </tr>
          <tr>
            <td>Plantilla de inserción</td>
            <td>1 hora</td>
            <td>45 &euro;</td>
          </tr>
          <tr>
            <td>Plantilla de identificación</td>
            <td>1 hora</td>
            <td>45 &euro;</td>
          </tr>

          <tr>
            <th>Instalación</th>
            <th>2 horas</th>
            <th>90 &euro;</th>
          </tr>

          <tr>
            <th>TOTAL</th>
            <th>12.5 horas</th>
            <th>562.5 &euro;</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
