@import '../../../assets/css/metrics';
@import '../../../assets/css/palette';

h1 {
  background: url('/assets/images/photo.jpg') left / contain no-repeat;
  font-size: $font-size-h2;
  line-height: 1;
  padding: 3rem;
  padding-left: 16rem;

  em {
    font-size: $font-size-h3;
    font-style: normal;
  }
}

h2 {
  font-size: $font-size-h3;
}
