/*!
 * Font sizes
 */
$font-size-h1: 4.6rem;
$font-size-h2: 3.6rem;
$font-size-h3: 2.8rem;
$font-size-h4: 2.2rem;
$font-size-h5: 1.8rem;
$font-size-h6: 1.6rem;

/*!
 * Paddings
 */
$margin-bottom: 1.5rem;

/*!
 * Screen sizes
 */
$large-screen: 40rem;
