@import './assets/css/metrics';
@import './assets/css/palette';

body {
  margin: 0;
  padding: 3rem 0;
  // text-align: justify;
}

:scope {
  h1 {
    font-size: $font-size-h2;
  }

  h2 {
    font-size: $font-size-h3;
  }

  h3 {
    font-size: $font-size-h4;
  }

  a {
    .fa {
      vertical-align: middle;
    }
  }

  strong {
    font-weight: 400;
  }
}
